.site-header{
  background-color: aquamarine;
  color: black;
  height: 100vh;
  font-family:monospace;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.site-header-content{
   margin: 10px;
}  

.profile-pic{
  border-radius: 50%;
  align-self: center;
}


 
body{
  margin: 0;
}